html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    overflow: hidden;
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
textarea,
select,
button,
label {
    margin: 0;
    line-height: normal;
    font-family: inherit;
    font-size: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-moz-focus-inner {
    padding: 0 !important;
    border: 0 !important;
}

body {
    font: 12px/21px "Lucida Grande", Verdana, Arial, sans-serif;
    color: #dfdfdf;
    background: #343434;
}

a {
    color: #eee;
    text-decoration: underline;
}

a:hover {
    color: white;
}

input[type=text],
input[type=email],
input[type=url],
input[type=search],
textarea {
    display: inline-block;
    vertical-align: top;
    padding: 0 7px;
    height: 29px;
    color: #b9b9b9;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
    background: #333;
    border: 1px solid #111;
    border-top-color: black;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.08);
    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    -o-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
textarea:focus {
    color: #dfdfdf;
    background: #3d3d3d;
    outline: none;
}

textarea {
    padding: 4px 7px;
    height: 67px;
    line-height: 19px;
    overflow: auto;
    resize: none;
}

:-moz-placeholder {
    color: #808080 !important;
}

::-moz-placeholder {
    color: #808080 !important;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #808080;
}

:-ms-input-placeholder {
    color: #808080;
}

.lt-ie9 input {
    line-height: 27px;
}

.text-input-hint {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    margin: 0 0 0 8px;
    padding: 4px 8px 5px;
    min-width: 140px;
    line-height: 18px;
    font-size: 11px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.8);
    background: #33373c;
    background-clip: padding-box;
    border: 1px solid #111;
    border-bottom-color: black;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.2));
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15);
}

.text-input-hint:before,
.text-input-hint:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin: -4px 0 0 -4px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 4px 4px 4px 0;
    border-right-color: #33373c;
}

.text-input-hint:before {
    margin-left: -5px;
    border-right-color: black;
}

.valid .text-input-hint {
    background-color: #396330;
}

.valid .text-input-hint:after {
    border-right-color: #396330;
}

.invalid .text-input-hint {
    background-color: #8d2e2b;
}

.invalid .text-input-hint:after {
    border-right-color: #8d2e2b;
}

.search {
    position: relative;
}

.search>input {
    width: 100%;
    height: 27px;
    padding: 0 12px 0 28px;
    border-radius: 14px;
}

.search:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 9px;
    width: 6px;
    height: 6px;
    border: 2px solid #999999;
    border-radius: 7px;
}

.search:after {
    content: '';
    position: absolute;
    top: 17px;
    left: 16px;
    width: 6px;
    height: 2px;
    background: #999999;
    border-radius: 1px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type=search] {
    -webkit-appearance: textfield;
}

::-webkit-search-decoration,
 ::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.lt-ie9 .search:before,
.lt-ie9 .search:after {
    content: none;
}

.lt-ie9 .search>input {
    padding: 0 6px;
}

.option {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 18px;
    height: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.option>input {
    position: absolute;
    left: 0;
    width: inherit;
    height: inherit;
    opacity: 0;
}

.checkbox,
.radio {
    display: block;
    height: 100%;
    background: #464a4f;
    background-clip: padding-box;
    border: 1px solid #111;
    border-bottom-color: black;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.25));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.25));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.25));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.25));
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.08), inset 0 0 0 1px rgba(255, 255, 255, 0.08), inset 0 -1px 2px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.08), inset 0 0 0 1px rgba(255, 255, 255, 0.08), inset 0 -1px 2px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.checkbox:before,
.radio:before {
    content: '';
    display: none;
}

input:checked+.checkbox:before,
input:checked+.radio:before {
    display: block;
}

input:checked+.blue.checkbox,
input:checked+.blue.radio {
    background-color: #2265a1;
    background-image: -webkit-linear-gradient(top, #287bbd, #164b7f);
    background-image: -moz-linear-gradient(top, #287bbd, #164b7f);
    background-image: -o-linear-gradient(top, #287bbd, #164b7f);
    background-image: linear-gradient(to bottom, #287bbd, #164b7f);
}

input:focus+.checkbox,
input:focus+.radio,
input.focus+.checkbox,
input.focus+.radio {
    background-color: #585d67;
}

.checkbox:before {
    position: absolute;
    top: 5px;
    left: 4px;
    width: 8px;
    height: 3px;
    border: solid rgba(255, 255, 255, 0.8);
    border-width: 0 0 2px 2px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-shadow: -1px 0 rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 0 rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.5);
}

.radio {
    border-radius: 9px;
}

.radio:before {
    margin: 5px;
    width: 6px;
    height: 6px;
    background: #111;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

.lt-ie9 .option>input {
    position: static;
    padding: 0;
}

.lt-ie9 .checkbox,
.lt-ie9 .radio {
    display: none;
}

.select {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 31px;
    background: #464a4f;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.25));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.25));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.25));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.25));
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.08), inset 0 0 0 1px rgba(255, 255, 255, 0.08), inset 0 -1px 2px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.08), inset 0 0 0 1px rgba(255, 255, 255, 0.08), inset 0 -1px 2px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.select:hover {
    background-color: #4d5159;
}

.select>select {
    display: block;
    position: relative;
    width: 112%;
    height: 29px;
    line-height: 17px;
    margin: 0;
    padding: 6px;
    padding-left: 10px;
    color: #ddd;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.7);
    background: transparent;
    background: rgba(0, 0, 0, 0);
    border: 0;
    -webkit-appearance: none;
}

.select>select:focus {
    z-index: 2;
    width: 100%;
    outline: 1px solid #236eab;
    outline-offset: -1px;
}

.select>select::-ms-expand {
    display: none;
}

.select option {
    text-shadow: none;
}

.select:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 13px;
    right: 12px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #ddd;
    pointer-events: none;
    -webkit-box-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 -1px rgba(0, 0, 0, 0.5);
}

.switch {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 32px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.switch>label {
    display: block;
    position: relative;
    height: 13px;
    background: #333;
    border: 1px solid #111;
    border-top-color: black;
    border-radius: 7px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.08);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}

.switch>label:before {
    content: '';
    display: block;
    margin: -3px 0 0 -3px;
    width: 15px;
    height: 15px;
    background: #464a4f;
    border: 1px solid #111;
    border-bottom-color: black;
    border-radius: 9px;
    background-image: -webkit-linear-gradient(top, #50545b, #35383d);
    background-image: -moz-linear-gradient(top, #50545b, #35383d);
    background-image: -o-linear-gradient(top, #50545b, #35383d);
    background-image: linear-gradient(to bottom, #50545b, #35383d);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.08), inset 0 0 0 1px rgba(255, 255, 255, 0.08), inset 0 -1px 2px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.08), inset 0 0 0 1px rgba(255, 255, 255, 0.08), inset 0 -1px 2px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.switch>input {
    position: absolute;
    z-index: 0;
    top: 2px;
    left: 2px;
    width: 28px;
    height: 9px;
    padding: 0;
    opacity: 0;
    -webkit-appearance: none;
}

.switch>input:focus {
    opacity: 1;
    outline: 1px solid #236eab;
    outline-offset: 4px;
}

.switch>input:checked+label {
    padding-left: 19px;
    background: #2265a1;
    background-image: -webkit-linear-gradient(top, #1e5f9d, #2972a9);
    background-image: -moz-linear-gradient(top, #1e5f9d, #2972a9);
    background-image: -o-linear-gradient(top, #1e5f9d, #2972a9);
    background-image: linear-gradient(to bottom, #1e5f9d, #2972a9);
}

.switch-square {
    width: 58px;
}

.switch-square>label {
    height: 23px;
    line-height: 20px;
    font-size: 10px;
    color: #888;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
}

.switch-square>label:before {
    margin: -1px 0 0 -1px;
    width: 26px;
    height: 21px;
    border-radius: 2px;
}

.switch-square>label:after {
    content: attr(data-off);
    position: absolute;
    top: 0;
    right: 0;
    width: 29px;
}

.switch-square>input {
    width: 54px;
    height: 19px;
}

.switch-square>input:checked+label {
    padding-left: 30px;
}

.switch-square>input:checked+label:after {
    content: attr(data-on);
    left: 0;
    color: #cfdbe2;
}

.lt-ie9 .switch {
    width: 30px;
    height: 11px;
    background: #333;
    border: 1px solid black;
}

.lt-ie9 .switch>label {
    display: none;
}

.lt-ie9 .switch>input {
    position: static;
    width: inherit;
    height: inherit;
    vertical-align: top;
}

.lt-ie9 .switch-square {
    width: 56px;
    height: 21px;
}

.valid {
    position: relative;
}

.valid>input {
    color: #b7beb7;
    background: #22331f;
}

.invalid {
    position: relative;
}

.invalid>input {
    color: #c6b5bc;
    background: #512724;
}

.button {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    line-height: 1;
    padding: 0 12px;
    font-size: 12px;
    color: #ddd;
    text-align: center;
    background: #3d3d3d;
    background-clip: padding-box;
    border-radius: 3px;
    margin-bottom: 5px !important;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button:hover,
.button:focus,
.button.focus {
    color: #ddd;
    background-color: #53585f;
    outline: none;
}

.button:active,
.button-dropdown:hover>.toggle,
.button-dropdown.open>.toggle,
.button.active {
    color: #fff;
    background: #04ff8b;
    border-color: black #111 #111;
}

a.button {
    line-height: 35px;
    text-decoration: none;
    box-shadow: 0 10px 20px rgb(0 0 0 / 17%), 0 6px 6px rgb(0 0 0 / 0%);
}

.button-round {
    padding: 0 16px;
    border-radius: 16px;
}

.button-blue {
    background-color: #2265a1;
}

.button-blue:hover,
.button-blue:focus,
.button-blue.focus {
    background-color: #2672b6;
}

.button-blue:active,
.button-blue.active {
    background-color: #1b507f;
}

.button-green {
    background-color: #3f7636;
}

.button-green:hover,
.button-green:focus,
.button-green.focus {
    background-color: #48873e;
}

.button-green:active,
.button-green.active {
    background-color: #305a29;
}

.button-red {
    background-color: #e00905;
}

.button-red:hover,
.button-red:focus,
.button-red.focus {
    background-color: #b60401;
}

.button-red:active,
.button-red.active {
    background-color: #660603;
}

.button-pink {
    background-color: #5e0237;
}

.button-pink:hover,
.button-pink:focus,
.button-pink.focus {
    background-color: #380226;
}

.button-pink:active,
.button-pink.active {
    background-color: #220115;
}

.button-teal {
    background-color: #f16129;
}

.button-teal:hover,
.button-teal:focus,
.button-teal.focus {
    background-color: #ec7a4c;
}

.button-teal:active,
.button-teal.active {
    background-color: #af3a03;
}

.button-purple {
    background-color: #71428e;
}

.button-purple:hover,
.button-purple:focus,
.button-purple.focus {
    background-color: #7f4a9f;
}

.button-purple:active,
.button-purple.active {
    background-color: #5b3572;
}

.button-group {
    width: 194px;
    display: inline-block;
    vertical-align: top;
    height: 25px;
    font-size: 0;
    white-space: nowrap;
    margin-left: -2px;
}

.button-group>.button {
    margin-left: -1px;
    height: inherit;
    line-height: 21px;
    padding: 0 0px;
    border-radius: 0;
}

.button-group>.button:first-child {
    margin-left: 0;
    border-radius: 3px 0 0 3px;
}

.button-group>.button:last-child {
    border-radius: 0 3px 3px 0;
}

.button-group>.button:focus {
    position: relative;
    z-index: 1;
}

.button-dropdown {
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 32px;
    font-size: 0;
    white-space: nowrap;
}

.button-dropdown>.button {
    position: relative;
    z-index: 1;
    height: inherit;
    line-height: 30px;
    padding: 0 12px;
    border-radius: 3px 0 0 3px;
}

.button-dropdown>.toggle {
    width: 31px;
    font: 0/0 serif;
    color: transparent;
    border-left-width: 0;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-dropdown>.toggle:before,
.button-dropdown>.toggle:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -5px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.8);
}

.button-dropdown>.toggle:after {
    margin-top: -2px;
    border-top-color: #c8c8c8;
}

.button-dropdown:hover>.dropdown,
.button-dropdown.open>.dropdown {
    display: block;
}

.button-dropdown:hover>.button,
.button-dropdown.open>.button {
    border-bottom-left-radius: 0;
}

.button-dropdown:hover>.toggle,
.button-dropdown.open>.toggle {
    border-bottom-right-radius: 0;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -1px;
    font-size: 12px;
    background: #333;
    border: 1px solid black;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.dropdown:hover {
    display: block;
}

.dropdown>li>a {
    display: block;
    line-height: 30px;
    padding: 0 12px;
    color: #c6c6c6;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.dropdown>li>a:hover,
.dropdown>li>a:focus {
    background: #3d3d3d;
    outline: none;
}

.dropdown>li+li {
    border-top: 1px solid #111;
}

.dropdown>li:last-child>a {
    border-radius: 0 0 2px 2px;
}

.button-prev,
.button-next {
    position: relative;
    height: 32px;
    width: 32px;
    padding: 0;
    font: 0/0 serif;
    color: transparent;
}

.button-prev:before,
.button-next:before,
.button-prev:after,
.button-next:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -5px;
    width: 0;
    height: 0;
    border: 5px outset transparent;
}

.button-prev:before,
.button-next:before {
    margin-top: -4px;
}

.button-prev:before,
.button-prev:after {
    left: 50%;
    margin-left: -10px;
    border-right: 8px solid rgba(0, 0, 0, 0.8);
}

.button-prev:after {
    border-right-color: #c8c8c8;
}

.button-next:before,
.button-next:after {
    right: 50%;
    margin-right: -10px;
    border-left: 8px solid rgba(0, 0, 0, 0.8);
}

.button-next:after {
    border-left-color: #c8c8c8;
}

.lt-ie9 .button-prev:before,
.lt-ie9 .button-next:before,
.lt-ie9 .button-prev:after,
.lt-ie9 .button-next:after {
    border-style: solid;
}

.heading {
    overflow: hidden;
    line-height: 30px;
    padding: 0 11px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.8);
    background: #1d619f;
    background-clip: padding-box;
    border: 1px solid #111;
    border-bottom-color: black;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #297ab8, #15528f);
    background-image: -moz-linear-gradient(top, #297ab8, #15528f);
    background-image: -o-linear-gradient(top, #297ab8, #15528f);
    background-image: linear-gradient(to bottom, #297ab8, #15528f);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 1px 2px rgba(0, 0, 0, 0.15);
}

.heading>h2 {
    float: left;
    font-size: 13px;
    font-weight: bold;
    color: #ececec;
}

.heading-links {
    float: right;
    margin: 0 -11px 0 11px;
}

.heading-links>li {
    float: left;
    border-left: 1px solid #0a2032;
    border-left-color: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 1px 0 rgba(255, 255, 255, 0.07), -1px 0 rgba(255, 255, 255, 0.07);
    box-shadow: inset 1px 0 rgba(255, 255, 255, 0.07), -1px 0 rgba(255, 255, 255, 0.07);
}

.heading-link {
    display: block;
    color: #dfdfdf;
    padding: 0 12px;
    text-decoration: none;
}

.heading-link:hover,
.heading-link:focus {
    color: white;
    background: #1d6eb9;
    background: rgba(255, 255, 255, 0.08);
}

.heading-link:active {
    color: rgba(223, 223, 223, 0.8);
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
    background: #104c88;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.tag {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-bottom: 1px;
    padding: 0 8px 1px 22px;
    line-height: 21px;
    font-size: 11px;
    color: #ddd;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.8);
    background: #464a4f;
    background-clip: padding-box;
    border: 1px solid #111;
    border-bottom-color: black;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.25));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.25));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.25));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.25));
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 -1px 3px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 -1px 3px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.15);
}

.tag:hover,
.tag:focus {
    color: #ddd;
    background-color: #4f545a;
    outline: none;
}

.tag:active {
    margin-top: 1px;
    margin-bottom: 0;
}

.tag:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 4px;
    height: 4px;
    background: #3c3b40;
    border: 1px solid black;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.2);
}

.tag-blue {
    background-color: #125b76;
}

.tag-blue:hover,
.tag-blue:focus {
    background-color: #156c8c;
}

.tag-teal {
    background-color: #13715e;
}

.tag-teal:hover,
.tag-teal:focus {
    background-color: #178770;
}

.alert {
    position: relative;
    line-height: 30px;
    padding: 0 11px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.8);
    background: #822d2b;
    background-clip: padding-box;
    border: 1px solid #111;
    border-bottom-color: black;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #973a38, #732322);
    background-image: -moz-linear-gradient(top, #973a38, #732322);
    background-image: -o-linear-gradient(top, #973a38, #732322);
    background-image: linear-gradient(to bottom, #973a38, #732322);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.15);
}

.alert.notice {
    background: #365c2f;
    background-image: -webkit-linear-gradient(top, #45703f, #2c4f25);
    background-image: -moz-linear-gradient(top, #45703f, #2c4f25);
    background-image: -o-linear-gradient(top, #45703f, #2c4f25);
    background-image: linear-gradient(to bottom, #45703f, #2c4f25);
}

.alert>strong {
    font-weight: bold;
    color: #ececec;
}

.alert-close {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -9px;
    padding: inherit;
    font: 18px/18px Arial, sans-serif;
    color: #d2d2d2;
    text-decoration: none;
}

.alert-close:hover {
    color: #ececec;
}

.table {
    width: 100%;
    line-height: 32px;
    text-align: left;
    text-shadow: 0 1px rgba(0, 0, 0, 0.8);
    background: #333;
    border-collapse: separate;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.table-head>tr>th {
    padding: 0 11px;
    font-weight: bold;
    background: #3d4147;
    background-clip: padding-box;
    border: 1px solid #111;
    border-left-width: 0;
    background-image: -webkit-linear-gradient(top, #494e55, #383b42);
    background-image: -moz-linear-gradient(top, #494e55, #383b42);
    background-image: -o-linear-gradient(top, #494e55, #383b42);
    background-image: linear-gradient(to bottom, #494e55, #383b42);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.02), 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.02), 0 1px 1px rgba(0, 0, 0, 0.1);
}

.table-head>tr>th:first-child {
    border-left-width: 1px;
    border-top-left-radius: 3px;
}

.table-head>tr>th:last-child {
    border-top-right-radius: 3px;
}

.table-body>tr:nth-child(2n) {
    background: #2e2e2e;
}

.table-body>tr:hover {
    background: #3d3d3d;
}

.table-body>tr:last-child>td {
    border-bottom-color: black;
}

.table-body>tr:last-child>td:first-child {
    border-bottom-left-radius: 3px;
}

.table-body>tr:last-child>td:last-child {
    border-bottom-right-radius: 3px;
}

.table-body>tr>td {
    padding: 0 11px;
    border-right: 1px solid #111;
    border-bottom: 1px solid #111;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.04);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.04);
}

.table-body>tr>td:first-child {
    border-left: 1px solid #111;
}

.progress {
    position: relative;
    height: 12px;
    background: #333;
    border: 1px solid #111;
    border-top-color: black;
    border-radius: 7px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.08);
}

.progress>span {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: 12px;
    background: #65707e;
    border-radius: 7px;
    background-image: -webkit-linear-gradient(top, #798597, #555f6b);
    background-image: -moz-linear-gradient(top, #798597, #555f6b);
    background-image: -o-linear-gradient(top, #798597, #555f6b);
    background-image: linear-gradient(to bottom, #798597, #555f6b);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.15), 1px 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.15), 1px 0 1px rgba(0, 0, 0, 0.5);
}

.progress-square,
.progress-square>span {
    border-radius: 2px;
}

.progress-blue>span {
    background: #2065a3;
    background-image: -webkit-linear-gradient(top, #297ab8, #15528f);
    background-image: -moz-linear-gradient(top, #297ab8, #15528f);
    background-image: -o-linear-gradient(top, #297ab8, #15528f);
    background-image: linear-gradient(to bottom, #297ab8, #15528f);
}

.hr {
    margin: 21px 0;
    width: 100%;
    height: 7px;
    background: #3f4348;
    border: 1px solid #111;
    border-bottom-color: black;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: -webkit-linear-gradient(top, #494d53, #2e3135);
    background-image: -moz-linear-gradient(top, #494d53, #2e3135);
    background-image: -o-linear-gradient(top, #494d53, #2e3135);
    background-image: linear-gradient(to bottom, #494d53, #2e3135);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.08), 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.08), 0 1px 1px rgba(0, 0, 0, 0.1);
}