.panel {
    width: 190px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 12;
    overflow: hidden;
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.button {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px auto;
    font-size: 13px;
    height: 35px;
    padding: 0 3px;
    border-radius: 50px;
}

.button-tool {
    height: 25px;
    width: 25px;
    padding: 0px;
    margin: 0px 1px;
    margin-top: 2px;
    margin-bottom: -4px;
    cursor: pointer;
}

.tab>.button {
    width: 64px;
}

.button-group-small>.button {
    width: 20%;
}

.button-tool:hover {
    background-color: #252525;
}

.button-100 {
    width: 100%;
}

.button-50 {
    width: 121px;
}

.button-30 {
    width: 30%;
}

.button-25 {
    width: 25%;
}

.button-23 {
    width: 23%;
}

.button-22 {
    width: 22%;
}

.button-21 {
    width: 21%;
}

.button-20 {
    width: 20%;
}

.button-15 {
    width: 15%;
}

.button-left {
    float: left;
    margin-bottom: 2px;
}

.button-right {
    float: right;
    margin-bottom: 2px;
}

.button-delete:hover,
.button-delete:focus,
.button-delete.focus {
    background-color: #a13331;
}

.button-delete:active,
.button-delete.active {
    background-color: #6e2321;
}

.sectiontitle {
    color: #fff;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 35px;
    clear: both;
}

.tab {}

p {
    margin-top: 2px;
}

.tabcontent {
    display: none;
}

.tablinks {
    border-radius: 5px;
    padding: 0 5px;
    width: 40px;
    box-shadow: 2px 2px 7px 0px #0000002b;
}