body {
	text-align: center;
}

input[type=text] {
	height: 16px;
}

button, select, input {
	display: block;
	margin-bottom: 1px;
	margin-top: 1px;
	pointer-events: all;
	font-size: 14px;
	font-family: "Arial";
	font-weight: lighter;
}

p.version {
	font-size: 10px;
	font-family: "Time New Roman";
	font-weight: lighter;
}

.imgWrap {
	position: relative;
	pointer-events: none;
}


.imgWrap:hover .bor {
	border: 1px solid #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-radius: 6px;
	border-width: 2px;
}

.imgWrap:hover .imgDescription {
	visibility: visible;
	opacity: 1;
}

.imgWrap2 {
	position: relative;
	pointer-events: none;
	height: 42px;
	width: 42px;
}

.imgWrap2:hover .bor {
	border: 1px solid #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-radius: 6px;
	border-width: 2px;
}

.imgWrap2:hover .imgDescription {
	visibility: visible;
	opacity: 1;
}

#content {
	margin-right: 0;
	margin-left: 0;
	vertical-align: middle;
	width: 100%;
	background-color: #efe3cf;
}

#content tr {
	padding: 0px;
}

table.firstmenu {
	background-color: #37454e;
	padding: 3px;
	padding-top: 15px;
	padding-bottom: 7px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

table.secondmenu {
	padding: 0px;
}

tr.firsttr {
	padding-bottom: 0;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
}

td.firsttd {
	padding-bottom: 0;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.imgDescription {
	position: absolute;
	color: #fff;
	background-color: #232323;
	visibility: hidden;
	opacity: 0;
	padding: 5px;
	color: #c5c5c5;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #c5c5c5;

	/*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

img {
	margin: 0;
	display: block;
}

img.logo {
	width: 125px;
	position: absolute;
	margin-top: 10px;
	left: 67px;
}

img.header {
	width: 200px;
	height: 65px;
	position: absolute;
	margin-top: 5px;
	left: 10px;
}

button.red {
	color: white;
	background-color: #ba4232;
	background: #ba4232;
	border: 0px;
}

button.dark {
	color: white;
	background-color: #4d5758;
	background: #4d5758;
	border: 0px;
}